/* Reset Styling */
body {
  font-family: "Nimbus Sans", sans-serif;
  margin: 0;
  background-color: #323232;
  color: #c2c1ba;
}

/* Fonts */
@font-face {
  font-family: "Nimbus Sans";
  src: url("assets/fonts/NimbusSanL-Reg.otf") format("opentype");
}

/* Header & Navigation */
header nav ul.nav-menu {
  list-style: none;
  margin-top: 20px;
  display: flex;
}

header nav li {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
  border-right: 1px solid #c2c1ba;
}

header nav li:last-child {
  border-right: none;
}

header nav a {
  color: #c2c1ba;
  text-decoration: none;
  transition: color 0.2s ease;
}

header nav a:hover {
  color: #b3c5c9;
}

nav {
  border: 1px solid #c2c1ba;
  padding: 10px;
}

/* Dark Mode Toggler */
.toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

#switch {
  display: none;
}

#switch:checked + label {
  background-color: #000000;
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero Styling */
.hero-main h1 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 30px;
  color: #e8e6e5;
}

.hero-main p {
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: #323232;
  border: 1px solid #c2c1ba;
  margin: 30px;
  text-align: center;
}

/* Responsive Styling (Mobile & Tablet) */
@media only screen and (max-width: 600px) {
  header nav ul.nav-menu {
    flex-direction: column;
  }
  main {
    flex-grow: 1;
  }
}
