body {
    font-family: "Nimbus Sans", sans-serif;
    margin: 0;
    padding: 0;
  }

/*--- Fonts ---*/
@font-face {
    font-family: "Nimbus Sans";
    src: url("assets/fonts/NimbusSanL-Reg.otf") format("opentype");
}

/*--- Header & Navigation ---*/
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav li {
    margin-right: 2rem;
  }
  
   header nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  header nav a:hover {
    color: #c4c4cf;
  }
  
  main {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .hero-main h1 {
    margin-bottom: 2rem;
  }
  
  .hero-main p {
    font-size: 1.2rem;
  }

/*--- Footer ---*/
  
  footer {
    background-color: #f2f2f2;
    padding: 1rem;
    text-align: center;
  }

/*--- Mobile & Tablet ---*/
  
  @media only screen and (max-width: 600px) {
    header nav ul {
      flex-direction: columns;
    }
    main {
      flex-grow: 1;
    }
  }